@model kurs2.Models.Comments
<form asp-action="AddCommentary" asp-controller="home">
    <input type="hidden" value="@Context.Request.Cookies["auth"]" asp-for="AuthorID" />
    <input type="hidden" value="@ViewBag.id" asp-for="PostID" />
    <input type="hidden" value="@false" asp-for="Solution" />
    <input type="hidden" value="@DateTime.Now" asp-for="CreatedAt" />
    <div>
        <label asp-for="Text">Текст вопроса</label>
        <input type="text" asp-for="Text" />
    </div>
        <input type="submit" value="Ответить!" />
</form>