@model kurs2.Models.Posts


<form asp-action="AddPost" asp-controller="Home">
    <div>
        <label asp-for="Title">Название вопроса</label>
        <input type="text" asp-for="Title" />
    </div>
    <div>
        <label asp-for="Info">Текст вопроса</label>
        <input type="text" asp-for="Info" />
    </div>
        <input type="hidden" asp-for="AuthorID" value="@ViewBag.id" />
        <input type="hidden" asp-for="CreatedAt" value="@DateTime.Now.Date" />
        <input type="submit" value="Задать вопрос!" />
</form>