@model kurs2.Models.Posts


@{ 
    var post = ViewBag.post;
}

<form asp-action="ChangePost" asp-controller="Home">
    <div>
        <label asp-for="Title">Заголовок вопроса</label>
        <input type="text" asp-for="Title" value="@post.Title" />
    </div>
    <div>
        <label asp-for="Info">Текст вопроса</label>
        <input type="text" asp-for="Info" value="@post.Info" />
    </div>
    <input type="hidden" value="@ViewBag.id" asp-for="id" />
    <input type="submit" value="Подтвердить" />
</form>