@model kurs2.Models.Comments


@{ 
    var comm = ViewBag.comm;
}

<form asp-action="ChangeComm" asp-controller="Home">
    <div>
        <label asp-for="Text">Текст ответа</label>
        <input type="text" asp-for="Text" value="@comm.Text"/>
    </div>
    <input type="hidden" value="@ViewBag.id" asp-for="id"/>
    <input type="submit" value="Подтвердить" />
</form>