@model kurs2.Models.Users

<div class="common-form-box">
    <form asp-action="Registration" asp-controller="Home">
        <div class="common-form-div">
            <label asp-for="Name">Логин</label>
            <input type="text" asp-for="Name" />

        </div>
        <div class="common-form-div">
            <label asp-for="BirthDate">Дата рождения</label>
            <input type="date" asp-for="BirthDate" />

        </div>
        <div class="common-form-div">
            <label asp-for="Bio">О себе</label>
            <input type="text" asp-for="Bio" />

        </div>
        <div class="common-form-div">
            <label asp-for="Photo">Фото</label>
            <input type="text" asp-for="Photo" />

        </div>
        <div class="common-form-div">
            <label asp-for="Password">Пароль</label>
            <input type="password" asp-for="Password" />

        </div>
        <div class="common-form-div">
            <label asp-for="Email">Адрес электронной почты</label>
            <input type="email" asp-for="Email" />

        </div>
        <input type="hidden" asp-for="RegDate" value="@DateTime.Now.Date" />
        <input type="hidden" asp-for="CatID" value="1" />
        <input type="submit" value="Регистрация!" />
    </form>
</div>
